body {
    height: 100vh;
}
div.container {
    position: relative;
    box-shadow: 
                15px 15px 20px -15px #9e9e9e,                
                15px 15px 20px -15px #9e9e9e;
    border: 1px solid rgb(218, 218, 218);                
    top: 100px;
    padding: 20px;
    min-width: 350px;
    border-radius: 5px;
    height: auto;
}
.mat-raised-button {
    color: white;
    background-color: #34c7ff;
}
.full-width {
    width: 100%;
}
div.forgot {
    text-align: center;
}
a {
    width: 260px;
    // text-align: center;
    margin: auto;
    text-decoration: none;
}
.loginbox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
div.image {
    // border-right: 1px solid rgb(165, 165, 165);
    height: 100%; 
    margin-right: 20px;
    background-image: url(../../assets/images/login.png);
    background-repeat: no-repeat;
    // opacity: 0.8;
    margin-right: 20px;
}
.google {
    background-color: rgb(219,68,55);
    color: white;
    opacity: 1;
}
.facebook {
    background-color: #3b5998;
    color: white;
    opacity: 1;
}