<div fxFlex='50' 
    class="container"
    fxLayout='row' 
    fxLayout.sm = 'column'
    fxLayout.xs = 'column'>
    <!-- {{ loginForm.value | json}} -->
    <div class="image"
        fxFlex='40%' fxLayout='column' fxLayoutAlign="center">    
    </div>
    <hr>
    <div fxFlex='100%' >
        <form *ngIf = "!hidden" fxLayout.xs='column' (ngSubmit)='submit()' novalidate [formGroup]="loginForm">
            <mat-form-field appearance='outline' class="full-width">
                <mat-label> <i class="fa fa-envelope"></i> Email id </mat-label>
                <input type="text" matInput formControlName='mailId' >
                <mat-error *ngIf="formErrors.mailId">
                    {{formErrors.mailId}}
                </mat-error>
            </mat-form-field>
            
            <mat-form-field appearance='outline' class="full-width">
                <mat-label> <i class="fa fa-unlock"></i> Password</mat-label>
                <input type="password" matInput formControlName='password'>
                <mat-error *ngIf="formErrors.password">
                    {{formErrors.password}}
                </mat-error>
            </mat-form-field>  <br>
            <!-- <mat-checkbox color='primary' formControlName='remember'>Remember me</mat-checkbox> -->
            <br>
            <button [disabled] ='loginForm.invalid' mat-raised-button class="full-width"> <i class="fa fa-sign-in"></i> Login </button>
            <!-- <hr> -->
            <br> <br>
            <div class="forgot">
                <a class="full-width" routerLink='/forgot-password' routerLinkActive>forgot password ?</a>
                <!-- <hr> -->
                <p>Need an account? <a routerLink = '/sign-up'>Join now</a></p>
            </div>
        </form>
        <div *ngIf = "hidden" class="spinner">
            <h2>Logging in</h2>
            <h3>Please wait..</h3>
            <mat-spinner></mat-spinner>
        </div>
    </div>
        
</div>

