<div class="container">
    <div class="header">
        <span style="font-size: 20px;">Manage <sub style="font-size: 12px;">Orders</sub></span>
    </div>
    <hr style="margin: 10px 0;">

    <div class="container">
        <h2>Add order</h2>
        <!-- {{orderForm.value | json}} -->
        <form [formGroup] = "orderForm">

            <div class="form-group" fxLayout = 'row' fxLayout.xs='column'>
                <label for="name" fxFlex='25%'><b>Customer Name</b></label>
                <div fxLayout='column' fxFlex='30%'>
                    <input type="text" class="form-control" formControlName = "customerName" required>                    
                    <mat-error fxFlex *ngIf = "formErrors.customerName">
                        <small>{{formErrors.customerName}}</small>
                    </mat-error>                
                </div>
            </div>

            <div class="form-group" fxLayout='row' fxLayout.xs='column'>
                <label for="address" fxFlex='25%'><b>Customer Address </b></label>
                <div fxLayout='column' fxFlex='30%'>
                    <input type="text" class="form-control" formControlName = "address">
                    <mat-error fxFlex *ngIf = "formErrors.address">
                        <small>{{formErrors.address}}</small>
                    </mat-error>
                </div>
            </div>

            <div class="form-group" fxLayout='row' fxLayout.xs='column'>
                <label for="address" fxFlex='25%'><b>Mobile number</b></label>
                <div fxLayout='column' fxFlex='30%'>
                    <input type="number" class="form-control" formControlName = "phone">
                    <mat-error fxFlex *ngIf = "formErrors.phone">
                        <small>{{formErrors.phone}}</small>
                    </mat-error>
                </div>
            </div>
        </form>
    </div>
    <br>
    <app-orders-table></app-orders-table>
    <br>
    <hr>
    <button mat-button (click) = "generatePdf()">Print</button>
    <button class="btn btn-success" [disabled] = "orderForm.invalid">Place order</button>
</div>