<span mat-dialog-title>Add Brand</span>
<hr />

<mat-dialog-content>
  <!-- {{changeBrand.value | json}} -->
  <form novalidate (ngSubmit)="saveChanges()" [formGroup]="changeBrand">
    <mat-form-field appearance = "outline" class="full-width">
      <mat-label>Brand name</mat-label>
      <input type="text" matInput formControlName = "brandName">
      <mat-error *ngIf = "formErrors.brandName"> 
        {{formErrors.brandName}}
      </mat-error>
    </mat-form-field> <br>
    
    <button mat-stroked-button color="warn" mat-dialog-close>close</button> <span class="flex-spacer"></span>
    <button
      class="btn btn-success"
      [disabled]="changeBrand.invalid"
      (click)="saveChanges()"
    >
      Save changes
    </button>
  </form>
</mat-dialog-content>
