<div class="content">
    <h1>404</h1> <br>
    <div>
        <h2>Sorry,</h2>
        <h3>the page you requested was <b>not found</b></h3>        
        <h3>Redirecting to the home page in {{duration}} seconds.. </h3>
        <div><mat-spinner stroke='5%' [diameter]='10'></mat-spinner></div>
    </div>
    <!-- <div>
        <p>Something's wrong here</p>
        <p>We can't find the page you're looking for. Check out our help center or go back to home page</p>
    </div>
    <div>
        <button mat-button>Home</button>
    </div> -->
    
</div>