
<div class="mat-elevation-z5">
  <mat-form-field>
    <mat-label>Search . . .</mat-label>
    <input matInput (keyup)="applyFilter($event)"  #input>
  </mat-form-field>

  <table mat-table class="full-width-table" [dataSource] = "dataSource" matSort aria-label="Elements">
    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
      <td mat-cell *matCellDef="let row">{{row.id}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td mat-cell *matCellDef="let row">{{row.name}}</td>
    </ng-container>

    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Price</th>
      <td mat-cell *matCellDef="let row">{{row.price}}</td>
    </ng-container>

    <ng-container matColumnDef="quantity">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Quantity</th>
      <td mat-cell *matCellDef="let row">{{row.quantity}}</td>
    </ng-container> 

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Action</th>
      <td mat-cell *matCellDef="let row">
        <mat-icon style="color: rgb(0, 25, 4); cursor: pointer;" (click)="editProduct(row)">edit</mat-icon> |
        <mat-icon style="color: rgb(246, 34, 34);" (click)="deleteProduct(row.id)">delete</mat-icon>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator #paginator
      
  [length]="dataSource?.data.length"
  [pageIndex]="0"
  [pageSize]="5"
  [pageSizeOptions]="[1,5,10,20, 50, 100]">
  </mat-paginator>

</div>

<div *ngIf = "dataSource.data.length<=0" class="spinner">  
  <h2> <mat-spinner strokeWidth='5' diameter='50'></mat-spinner>Loading... Please wait</h2>
</div>