.mat-table {
  width: 100%;
}
.row {
  // max-width: 75px;
  flex: 0 0 10%;
  // border-right: 1px solid black;
}

  .mat-header-cell {
  font-size: 0.8rem;
  color: white;
  background-color: #001f1b;
  }
  .mat-row:nth-child(odd) {
  background-color: white;
  }
  .mat-row:nth-child(even) {
  background-color: #D3D3D3;
  }
  .mat-button.mat-primary, .mat-icon-button.mat-primary, .mat-stroked-button.mat-primary {
    color: #001f1b;
    min-width: 0px;
    padding: 0;
}
::ng-deep .custom-style{
  background-color: #28a745;
  color:white;
}
.mat-icon {
  cursor: pointer;
}
.background {
  background-color: gray;
  opacity: 1;
}
.cdk-overlay-dark-backdrop {
  background: rgba(0, 0, 0, 0.65) !important;
}
.cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
  opacity: 1 !important;
}