<h2 mat-dialog-title>Add Category</h2>
<hr />

<mat-dialog-content>
  <!-- {{ changeCategory.value | json }} -->
  <form novalidate (ngSubmit)="saveChanges()" [formGroup]="changeCategory">
    <div class="form-group">
      <h3>Category name</h3>
      <input
        type="text"
        class="form-control"
        placeholder="Category name"
        formControlName="categoryName"
        required
      />
    </div>
    <button mat-stroked-button color="warn" mat-dialog-close>close</button>
    <button
      class="btn btn-success"
      [disabled]="changeCategory.invalid"
      (click)="saveChanges()"
    >
      Save changes
    </button>
  </form>
</mat-dialog-content>
