<h2 mat-dialog-title>Add Category</h2>
<hr />
<div *ngIf ="hide">
  <p>Adding category.. Please wait</p>
</div>

<mat-dialog-content>
  
  <!-- {{ changeCategory.value | json }} -->
  <form *ngIf = "!hide" novalidate (ngSubmit)="saveChanges()" [formGroup]="changeCategory">
    <mat-form-field appearance = "outline" class="full-width">
      <mat-label>Category name</mat-label>
      <input type="text" matInput formControlName = "categoryName">
      <mat-error *ngIf = "formErrors.categoryName">
        {{formErrors.categoryName}}
      </mat-error>
    </mat-form-field> <br>

    <button mat-stroked-button color="warn" mat-dialog-close>close</button>
    <button
      class="btn btn-success"
      [disabled]="changeCategory.invalid"
      (click)="saveChanges()"
    >
      Save changes
    </button>
  </form>
</mat-dialog-content>

