.mat-toolbar {
    height: 40px;
    background-color: #d3d3d3;
}
.mat-toolbar .mat-icon {
    width: 28px;
    cursor: pointer;
    // border: 1px solid black;
}
.mat-sidenav {
    width: 200px;
    background-color: #001f1b;
    
}
.mat-sidenav-container {
    height: 100%;
    overflow-y: auto;
}
button {
    width: 100%;
    text-align: left;
    display: block;
    color: white;
}
.mat-sidenav-content {
    padding: 10px;
}
.mat-menu {
    background-color: #001f1b;

}
.mat-menu-item {
    color: black;
    width: 200px;

}
.mat-menu-content {
    padding: 0 !important;
}