.mat-toolbar {
    height: 40px;
    background-color: #d3d3d3;
    position: sticky;
    top: 55px;
    z-index: 90;
}
 .mat-icon {
    width: 28px;
    cursor: pointer;
    // border: 1px solid black;
}
.mat-sidenav {
    width: 200px;
    // position: sticky;
    background-color: #001f1b;
    
}
.mat-sidenav-container {
    height: 100vh;
    overflow-y: auto;
}
button {
    width: 100%;
    text-align: left;
    display: block;
    color: white;
}
.mat-sidenav-content {
    padding: 10px;
}
.mat-menu {
    background-color: #001f1b;
    padding-top: 0;
}
.mat-menu-item, .mat-menu-item:hover {
    // background-color: #001a14;
    height: 36px;
    color: black;
    width: 200px;
}
.mat-menu-content:not(:empty) {
    background-color: #001a14;
    padding-top: 0;
    padding-bottom: 0;
}
.active {
    border-left: 5px solid #02732b;
}

