<mat-toolbar>
  
  <mat-icon mat-button *ngIf="!hide" (click)="sidenav.toggle()">menu</mat-icon>
  <h2 style="width: 15%;">Admin</h2>
  <!-- <h1>Dashboard</h1> -->
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav [(opened)]="opened" [(mode)]="sidebar">
    <mat-list *ngIf="scrWidth <= 768">
      
      <button mat-button routerLink="/home/dashboard" (click)="sidenav.toggle()" routerLinkActive>
        <i class="fa fa-dashboard"></i> Dashboard
      </button>
      <button mat-button routerLink="/home/category" (click)="sidenav.toggle()" routerLinkActive>
        <i class="fa fa-files-o"></i> Category
      </button>
      <!-- <button mat-button routerLink="/home/brands" (click)="sidenav.toggle()" routerLinkActive>
        <i class="fa fa-tags"></i> Brands
      </button> -->
      <button mat-button [matMenuTriggerFor]="menu"><i class="fa fa-cubes"></i> Products</button>
      <mat-menu style="background-color: #001f1b;" #menu="matMenu">
        <button mat-menu-item routerLink="/home/add-product" (click)="sidenav.toggle()" > <i class="fa fa-cube"></i> Add Product</button>
        <button mat-menu-item routerLink="/home/manage-products" (click)="sidenav.toggle()"> <i class="fa fa-wrench"></i> Manage products</button>
      </mat-menu>

      <button mat-button [matMenuTriggerFor]="ordermenu" routerLinkActive='active'> <i class="fa fa-usd"></i> Orders</button>
      <mat-menu #ordermenu="matMenu">
        <button mat-menu-item routerLink="/home/add-order"(click)="sidenav.toggle()" > <i class="fa fa-cube"></i> Add Order</button>
        <button mat-menu-item routerLink="/home/manage-orders" (click)="sidenav.toggle()"> <i class="fa fa-wrench"></i> Manage Orders</button>
      </mat-menu>

      <button (click)="logout()" mat-button ><i class="fa fa-sign-out"></i> Log out</button>
    </mat-list>

    <!-- ======================================================= -->


    <mat-list *ngIf="scrWidth > 768">
      <button mat-button routerLink="/home/dashboard" routerLinkActive = "active">
        <i class="fa fa-dashboard"></i> Dashboard
      </button>
      <button mat-button routerLink="/home/category" routerLinkActive='active'>
        <i class="fa fa-files-o"></i> Category
      </button>
      <!-- <button mat-button routerLink="/home/brands" routerLinkActive>
        <i class="fa fa-tags"></i> Brands
      </button> -->
      
      <button mat-button [matMenuTriggerFor]="menu" routerLinkActive='active'><i class="fa fa-cubes"></i> Products</button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/home/add-product" > <i class="fa fa-cube"></i> Add Product</button>
        <button mat-menu-item routerLink="/home/manage-products"> <i class="fa fa-wrench"></i> Manage products</button>
      </mat-menu>

      <button mat-button [matMenuTriggerFor]="ordermenu" routerLinkActive='active'> <i class="fa fa-usd"></i> Orders</button>
      <mat-menu #ordermenu="matMenu">
        <button mat-menu-item routerLink="/home/add-order" > <i class="fa fa-cube"></i> Add Order</button>
        <button mat-menu-item routerLink="/home/manage-orders"> <i class="fa fa-wrench"></i> Manage Orders</button>
      </mat-menu>

      <button (click) = "logout()" mat-button routerLinkActive = 'active'><i class="fa fa-sign-out"></i> Log out</button>

    </mat-list>
  </mat-sidenav>


  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
